.button-color {
    background-color: rgba(5, 51, 83, 0.871);
    color: #fff;
    padding: 7px 0;
    text-align: center;
}

.button-color:hover {
    background-color: #4a82a8a3;
    color: #fff;
}

.hover:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in;
}